.input {
  padding: 10px 20px;
  background: transparent;
  width: 250px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  font-family: inherit;
}

.input::placeholder {
  color: rgba(128, 128, 128, 0.6);
}