.button {
  padding: 12px 30px;
  background: #fff;
  color: var(--dark);
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid var(--dark);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  background: var(--dark);
  color: var(--light);
}

.button--primary {
  background: linear-gradient(
    134.42deg,
    rgba(255, 255, 255, 0.48) -1.944%,
    rgba(255, 255, 255, 0.12) 98.031%
  );
  color: gray;
}
.button--primary:hover {
  background: linear-gradient(
    134.42deg,
    rgba(255, 255, 255, 0.48) -1.944%,
    rgba(255, 255, 255, 0.12) 98.031%
  );
  color: black;
}
