:root {
  --dark: #333333;
  --light: #f2f2f2;
  --primary: #8248ff;
  --primary-light: #B18CFF;
  --primary-hover: #5100ff;
  --red: #FF2430;
  --light-red: #FF858B;
  --green: #31BE00;
  --light-green: #CDFF69;
  --yellow: #ff9b25;
  --yellow--light: #FFB763;
}