.header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(42px);
  background: radial-gradient(
    106.78% 141.42% at 0% 0%,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0) 200%
  );
  padding: 20px 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--light);

    @media (max-width: 520px) {
      justify-content: center;
    }
  }

  &__logo {
    font-size: 25px;
    color: white;
    font-style: italic;

    @media (max-width: 520px) {
      display: none;
    }
  }

  &__userPage {
    padding: 5px;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    transition: 0.7s;
    cursor: pointer;

    &:hover {
      background: white;
      color: var(--primary);
    }
  }
}
